html{
    background-color:rgb(77, 77, 77);
    color:white;
}
td{
    color:black;
    background-color: red; 
    padding: 20px 20px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
}
td:hover{
    transition: background-colorb 1s;
    background-color:rgb(107, 12, 12);
}
#guess{
    border-radius: 5px;
}
#guess:hover{
    transition: padding-right 1s;
    padding-right: 100px;
}